a, p, li, h1, h2, h3, h4, h5, h6 {
  color: white;
  text-decoration: none;
}

.header {
  background-image: url("../img/main-screen__bgc.png");
  padding-bottom: 220px;

  .header__btn {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    padding: 10px 30px;
    border: none;
  }
}

.navbar-nav {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
}

.wrap__section-buy {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    .style_ul {
      margin-top: 30px;

      ul {
        padding: 0;
      }

      li {
        margin-bottom: 30px;
      }
    }

  }
}

.pt {
  padding-top: 55px;
  align-items: baseline;
}

.flex-respons {
  flex: 0.53 0.53 auto;
}

.list__link {
  list-style-type: none;
  flex: 0.9 1 auto;

  .list__item {
  }
}

.main__tittle {
  padding-top: 200px;
  color: white;
  font-size: 64px;
  line-height: 90px;
  @media (max-width: 576px) {
    font-size: 42px;
  }
}

.countdown {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

.countdown-number {
  margin-top: 50px;
  margin-right: 30px;
  padding: 4px 19.3px;
  border-radius: 3px;
  background: #121212;
  display: inline-block;
}

.countdown-time {
  padding: 15px;
  border-radius: 3px;
  background: transparent;
  display: inline-block;
}

.countdown-text {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}

.btn-gradient {
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  padding: 10px 30px;
  border: none;
}

.style_ul {
  ul {
    margin-bottom: 0;
    margin-right: 50px;

    .item_2 {
      font-weight: bold;
    }

    li {
      list-style-type: none;

      &:last-child {
        text-align: right;
      }
    }
  }
}

.progress {
  height: 6px;

  .progress-bar {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  }
}

.wrap__description {
  margin-top: 200px;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
    .block {
      width: 82%;
      height: auto;
    }
    img {
      max-width: 446px;
      width: 100%;
    }
  }
}

.block {
  position: relative;
  width: 32%;
  height: 400px;
  background: #121212;
  margin-left: 30px;
}

.block:before, .block:after {
  content: '';
  position: absolute;
  left: -30px;
  top: -30px;
  background: linear-gradient(45deg, rgba(241, 196, 15, 1), rgba(69, 167, 63, 1), rgba(57, 172, 113, 1),
          rgba(49, 178, 179, 1), rgba(75, 72, 181, 1), rgba(147, 88, 179, 1), rgba(177, 84, 167, 1),
          rgba(174, 68, 84, 1), rgba(177, 84, 167, 1), rgba(147, 88, 179, 1), rgba(75, 72, 181, 1),
          rgba(49, 178, 179, 1), rgba(57, 172, 113, 1), rgba(69, 167, 63, 1), rgba(241, 196, 15, 1));
  background-size: 400%;
  width: calc(100% + 60px);
  height: calc(100% + 60px);
  z-index: -1;
  animation: anim 20s linear infinite;
}

@keyframes anim {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(30px);
}

.wrap_description-text {
  display: flex;
  flex-direction: column;
  width: 640px;
  @media (max-width: 992px) {
    width: 100%;
    margin-top: 50px;
  }

  .tittle__description {
    margin-bottom: 45px;
  }
}
.ficha_text {
  @media (max-width: 756px) {
    display: none;
  }
}
.ficha_1 {
  height: 80px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  animation-duration: 3s;
  animation-name: move;
}

.ficha_2 {
  height: 60px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  animation-duration: 3s;
  animation-name: move;
}

.ficha_3 {
  height: 30px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  animation-duration: 3s;
  animation-name: move;
}

.ficha_4 {
  height: 10px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  animation-duration: 3s;
  animation-name: move;
}

@keyframes move {
  from {
    width: 0;
  }
  to {
    width: 25%;
  }
}

.profession {
  margin-top: 200px;

  h3 {
    margin-bottom: 30px;
  }
}
.wrap_profession {
  @media (max-width: 756px) {
    display: flex;
    flex-direction: column;
    .icon_profession {
      margin-top: 50px;
    }
  }
}
.icon_profession {
  width: 100px;
  margin-bottom: 60px;
}

.wrap__logo-middle {
  display: flex;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 0;
  }

  div {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    @media (max-width: 576px) {
      border: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }
}

.style_border {
  div {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    @media (max-width: 576px) {
      display: none;
    }
    &:last-child {
      border-right: 0;
    }
  }

}


.marketing {
  text-align: center;
}

.btn_biography {
  background: transparent;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 30px;
  color: white;

  &:hover {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    color: white;
  }
}

.list__link-footer {
  list-style-type: none;
  display: flex;
  justify-content: center;

  .icon__link-footer {
    width: 24px;
    height: 24px;
  }

  .item-footer {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    padding: 13px;
    display: flex;
    justify-content: center;
    margin-right: 30px;
  }
}